.DirMes > .dm{
    margin-right: 15px;
    border-right: solid 1px white;
    padding-right: 15px;
}

.DirMes .dialog{
    width: 15vh;
}

.DirMes > div:last-child{
    width: 85vh;
}

.message{
    text-align: left;
    margin-bottom: 10px;
}

.message_date{
    margin-right: 5px;
    font-size: 14px;
    opacity: 0.75;
}

.message_author{
    font-weight: bold;
    margin-right: 5px;
}

.sendMessageInp{
    color: white;
    padding: 5px 15px;
    background: rgb(35, 35, 35);
    border-radius: 10px;
    width: 100%;
}